*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section style start */
.header_section{
    height: 600px;
    background-color: rgb(5, 19, 19);
    padding: 80px 120px;
    background-image: url(images/Image_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header_section .text_part{
    width: 50%;
}
.header_section .text_part h1{
    margin-top: 20%;
    color: red;
    font-family: times new roman;
    font-size: 60px;
}
.header_section .text_part p{
    margin-top: 20px;
    color: #fff;
    text-align: justify;
}
.header_btn{
    margin-top: 20px ;
    margin-left: 100px;
     font-family: arial;
     height: 30px;
     width: 100px;
     background-color: rgb(156, 64, 64);
     color: whitesmoke;
     border-radius: 10px;
}
/* header section style end   */

/* second_div style  start */
.second_div{
    height: 600px;
    width: 100%;
    padding: 80px 120px;
    background-color: black;
    display: flex;
}
.about_section{
    width: 50%;
    height: 100%;
    background-color: gray;
}
.about_section h1{
    margin-top: 10%;
    text-align: center;
    color: white;
}
.about_section p{
    margin-top: 8%;
    color: black;
    line-height: 30px;
    text-align: justify;
    padding: 20px;
    font-size: 20px;
}
.registration_section{
    width: 50%;
    height: 100%;
    background-color: rgba(88, 77, 85, 0.863);
}
.registration_section h1{
    margin-top: 10%;
    text-align: center;
    color: white;

}
.registration_section h3{
    margin-top: 8%;
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.registration_section p{
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.registration_btn{
    margin-left: 40%;
    height: 30px;
    width:  100px;
    background-color: darkgoldenrod;
    color: white;
    border: 2px solid rgb(255, 10, 10);
    border-radius: 10px;
}
/* second_div style end  */
/* third div style start */
.third_div{
    height: 600px;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 80px 120px;
}
.wordshop_part{
    width: 30%;
    height: 100%;
    background-color: white;
}
.wordshop_part h1{
    color: rgb(255, 0, 0);
    text-align: center;
    margin-top: 50px;

}
.wordshop_part p{
    margin-top: 30px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    padding: 20px;
}
.workshop_btn{
    width: 150px;
    height: 40px;
    background-color: black;
    margin-left: 30%;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    color: white;
}
.image_part{
    width: 70%;
    height: 100%;
    background-image: url(images/Image_2.png);
    background-size: cover;
}
/* third div style end */